<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Risific</a>

  <div class="collapse navbar-collapse container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
    </ul>

    <div *ngIf="!session.get('user')">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth">Connexion</a>
        </li>
      </ul>
    </div>

    <div *ngIf="session.get('user')">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Deconnexion</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
